[tool.setuptools]
packages = ["hairpin"]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "hairpin"
version = "0.0.1"
requires-python = ">= 3.10"
dependencies = [
    'pysam == 0.22.1'
]

[project.scripts]
hairpin = "hairpin.main:main_cli"
