[build-system]
requires = ["setuptools >= 77.0.3"]
build-backend = "setuptools.build_meta"

[project]
name = "hairpin2"
version = "1.2.0"
description = "CLI implementation of the artefact detection algorithm concieved by Ellis et al, 2020."
authors = [
  {name = "Alex Byrne"}
]
license = "MIT"
readme = "README.md"
dependencies = [
  "pysam>=0.22"
]
requires-python = ">= 3.10"

[project.optional-dependencies]
dev = ["pytest>=8.2.2"]

[project.scripts]
hairpin2 = "hairpin2.main:main_cli"

